<h1>Posts</h1>
<% @posts.each do |post| %>
  <br>
  <%= link_to post.title, post_path(post.id) %><br>
<% end %>

<h1>Comments</h1>
<% @comments.each do |comment| %>
  <br>
  <%= link_to comment.title, comment_path(comment.id) %><br>
<% end %>