<h2>About</h2>
<p class='about'>A nerdy knitter and developer in Seattle, Ellen is currently learning full Ruby stack at the Ada Developers Academy. Ellen has been interested in programming for most of her life, but she first became serious about learning how to code when she was working customer service at a company with a sub-par support site; she looked at the website and said to herself, "I could fix that." Since then, Ellen has used her passion for programming and experience working with a wide range of consumers to bridge the gap between the customer and the back-end.
<br><br>
In her free time, Ellen enjoys doing ambitious crafts and spending time with her two cats, Starbuck and Athena, and her two greyhounds, Helo and Apollo.</p>

<div class=links>
  <br>
  <h3>Resume</h3>
  <em>coming soon!</em>
  <br><br>

  <h3>Live Sites</h3>
  <h4 id='scamazon'>Scamazon <i class="angle down icon"></i></h4>
    <a href='http://scamazon.herokuapp.com/' id='scamazon-box'>This was our first major application in Ada, and the first site I ever deployed live. It's pretty rough around the edges, but I am proud of the work my team put in. My biggest accomplishment in this project was creating the cart.<i class="url icon"></i></a>

  <h4 id='scamalytics'>Scamazon Canvas <i class="angle down icon"></i></h4>
  <a href='http://scamazon-analytics.herokuapp.com/stats' id='scamalytics-box'>This was a small, unfinished project working with canvas and drawing graphs. I wrote a javascript method that automatically creates graphs of the appropriate size when passed an array of values.<i class="url icon"></i></a>

  <h4 id='feedhunter'>Feedhunter <i class="angle down icon"></i></h4>
  <a href='http://feed-hunter.herokuapp.com/' id='feedhunter-box'>This was our first experience working with APIs. My biggest accomplishment for this project was the view and rendering for the main feed, Twitter results, and the page-changing logic.<i class="url icon"></i></a>

  <h4 id='llama-lister'>Llama-Lister <i class="angle down icon"></i></h4>
  <a href='http://llama-lister.herokuapp.com/' id='llama-lister-box'>NOTE: this site is currently down due to a miscommunication with Heroku (Heroku isn't at fault; I mistakenly used too many dynos)
  <br>Llama Lister was a simple app we used to practice using rspec, TDD, javascript, ActionMailer, and background jobs. Email sending does not work on heroku. This app was simple, but I particularly enjoyed it; I particularly enjoyed writing the javascript.<i class="url icon"></i></a>

  <h4 id='pea-patch'>Ada Pea Patch <i class="angle down icon"></i></h4>
  <a href='http://adapeapatch.herokuapp.com/' id='pea-patch-box'>Pea Patch was all about responsive design. We utilized a few APIs, ActionMailer, and integration with Google Calendar. I spent time on this project learning how grids and responsive design work in Semantic UI.<i class="url icon"></i></a>

  <h4 id='sloth-expresser'>Sloth-Expresser <i class="angle down icon"></i></h4>
  <a href='http://sloth-expresser.herokuapp.com/' id='sloth-expresser-box'>For this project, we worked with legacy code (another team's version of Scamazon) to integrate a shipping API that we wrote. I was sick for half of this project, so I worked primarily on the legacy code. My biggest accomplishments in this project were the javascript and logic for the metric/imperial units in product creation and the custom CSS and javascript on the shipping page. I also integrated Travis-CI for this project.<i class="url icon"></i></a>
</div>
<br>

<%= link_to(image_tag('glasses.jpg', alt: "logo", title: "Welcome", class: 'header-pic'),"/") %>