/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
  text-align: center;
  font-size: 1em;
  width: 80%;
  margin: auto;
}
a:visited{
  color: black;
  text-decoration: none;
}
a{
  text-decoration: none;
  color: black;
}

h1{
  font-family: 'Gafata', sans-serif;
}

h2{
  font-family: 'Gafata', sans-serif;
}

h3{
  font-family: 'Gafata', sans-serif;
}

h4{
  font-family: 'Gafata', sans-serif;
}

h5{
  font-family: 'Gafata', sans-serif;
}

.header-pic{
  max-width: 100%;
}

#header{
  display: inline;
}

#disqus_thread{
  max-width: 80%;
  margin: auto;
}

#header ul{
  padding-left: 0px;
}
#header li{
  width: 30%;
  text-align: center;
  margin: 1%;
}
#header h1{
  width: 100%;
  text-align: center;
}

.about{
  text-align: left;
  border: 1px solid gray;
  padding: 15px;
}

.links{
  text-align: left;
}

.links a{
  display: none;
  cursor: hand;
  cursor: pointer;
}

.links .angle{
  cursor: hand;
  cursor: pointer;
}